@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,html{
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    min-height: fit-content;
    overflow-x: hidden;
    background-color:  #F8F8F8;
    scroll-behavior: smooth;
    transition: 1s ease-in-out;
}
/* ====================== Defaults ====================== */

a{
    color: white;
    list-style: none;
    font-size: auto;
    text-decoration: none;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    letter-spacing: .05rem;
    color: whitesmoke;
    align-items: center;
}
h2{
    color: #7E27CF;
}
h3{
    color: #7E27CF;
    font-weight: 300;
}
h4{
    color: #7E27CF;
}
.container{
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.heading{
    font-size: 3rem;
    font-weight: 300;
    color: #7E27CF;
    margin-bottom: 20px;
    text-transform: Uppercase;
    text-align: center;
}



/* ====================== Header New ====================== */

#header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(29, 30, 31, 0.05);
}
#header .container{
    width: 100%;
    height: auto;
    display: flex;
    background-color: transparent;
}
#header .nav .brand #logo{
    display: flex;
    transition: all .7s;
    justify-content: space-between;
    flex: 3;
    z-index: 8;
cursor: pointer;
}
#header .nav .brand #logo:hover{
    transform: scale(1.05);
    transition: all .7s;
    z-index: 100;
}
#header .nav{
    display:  flex;
    align-items: center center;
    justify-content: space-between;
    text-align: right;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 5px 4%;
}
#header .nav-items ul{
    list-style: none;
    position: absolute;
    background-color: #0c111a;
    justify-content: right;
    text-align: right;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    left: 100%;
    top: 0;
    z-index: 10;
    transition: .75s ease ease-in-out;

}
#header .nav-items ul.active{
    left: 25%;
    filter: blur(0px);
    opacity: 95%;
    border-radius: 5px;
}
#header .nav-items a{ 
    font-size:  1.2rem;
    font-weight: 500;
    margin-right: 125px;
    text-align: right;
    align-items: baseline;
    text-decoration: none;
    color: white;
    display: block;
    letter-spacing: 1pt;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
    padding: 20px 10px;
}
#header .nav-items  a:hover{
    color:  #7E27CF;
    font-weight: bolder;
    transition: .5s all;
    border: none;
}
#header .nav-items a::after{
    content: attr(data-after);
    font-size: 1.5rem;
    padding-right: 20%;
    padding-top: 5%;
    font-weight: bold;
    text-align: right;
    position: absolute;
    opacity: 5%;
    transition: 1.3s all;
    transform: translate(-50%,-50%) scale(0) ;
    z-index: -1;
}
#header .nav-items li:hover a::after{
    transform: translate(-50%,-50%) scale(2) ;
    transition: 1s all;
    color:  #7E27CF ;
} 
#header .hamburger{
    height: 35px;
    width: 35px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex: 1;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(.8);
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius:50% ;
    border: 2px solid white;
    animation: hamburger_pulse 1.5s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 15px;
    position: relative;
    align-self: center;
    align-items: center;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color:white;
    transition: .5s ease;
    transition-property: all;

}
#header .hamburger .bar::after{
    top: 6px;
}
#header .hamburger .bar::before{
    bottom: 6px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;

}


/* ====================== Main Page Slide ====================== */



#main .carousel-container{
    margin: auto;
    padding: 0%;
    width: 100%;
    height: 85vh;

    overflow: hidden;
}

#main .slider .item{
    display: flex;
    width: 100%;
}

#main h1{
    font-weight: 200;
    font-size: 28pt;
    padding-top: 200px;
    position: relative;
    align-items: center;
    color: transparent;
    animation: text_slider 2s ease forwards;
    z-index: 1;
}
#main h1:nth-child(1){
    animation-delay: 1s;  
}
#main h1:nth-child(2){
    padding-top: 0px;
    animation-delay: 2s;
    font-weight: 700;
}
#main h1:nth-child(1) span{
    animation-delay: 1s;

}
#main h1:nth-child(2) span{
    animation-delay: 1s;
}
#main .main{
    margin: 0;
    padding: 0 50px;
    justify-content: flex-start;
}
#main::after{
    content: '';
    position: absolute;
    align-content: fill;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color:black;
    z-index: -1;
    opacity: .67;
}
.ctn {
    display: flex;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius:50px;
    position: relative;
    border: 3px solid #7E27CF;
    color: #ffffff;
    background-color: transparent;
    font-weight: 400 ;
    font-size: 14pt;
    margin-top: 50px;
    letter-spacing: .5pt;
    transition: 1s all;
    transition-property: background-color , color;
    z-index: 1;
}
.skills{
    display: inline-flex;
    margin-top: 75px;
    position: relative;
}
.skills .ctn{
    margin: 20px;

    align-items: left;
    text-align: left;
    top: 0%;
    left: 0%;
}
.ctn:hover{
    color: #ffffff;
    transition: 1s all;
    background-color: #7E27CF;

}



/* ====================== Services ====================== */


#services{
  
    color: whitesmoke;
}
#services .services{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#services .services p{
    padding: 10px 10%;
}
#services .service-bot {
    display: flex;
    padding: 20px 5%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-icons{
    flex-basis: 8100%;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    display: flexbox;
}
#services .service-icons a{
    padding: 5% 10%;
}
#services .service-icons h3{
    flex-basis: 100%;
    font-weight: 400;
    padding: 5% 10%;
    display: flexbox;
}
#services .service-icons p{
    font-size: 1rem;
    font-weight: lighter;

}
#services .service-bot .service-icons img{
    transition-delay: .3 ease all transform;
}
#services .service-bot .service-icons:hover img{
    transform: scale(1.05);
}

/* ====================== About Sections ====================== */

#about .about{
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 5% 10%;
}
#about .left-col{
    padding: 5%;
    width: 360px;
    height: 360px;
}
#about .right-col{
    width: 100%;
}
#about .right-col p{
    padding: 5px 5%;
    margin-bottom: 10%;
    font-weight: lighter;

}
#about .right-col .ctn{
    text-align: center;
    display: inline-flex;
    position: relative;
    padding: 5px 10%;
    border-radius: 50px;
    margin: 0%;
    transition: 1s all;
    z-index: 0;
}
#about .right-col .ctn:hover{
    transition: 1s all;
}


/* ====================== Footer ====================== */

#foot{
    background-color: #e6e6e6;
    width: 100%;
    padding: 25px;
    position: relative;
}
#foot .foot-items{
    padding: 50px 10px;
    display: flex;
}
#foot .foot-items .links h3{
    font-weight: 300;
    text-align: left;
    position: relative;
}
#foot .foot-items .links ul a{
    text-align: left;
    color: rgb(102, 120, 143);
    display: block;
    padding: 7px 5px;
    margin-bottom: 5px;
    font-size: 10pt;
    font-weight: 300;
    transition: .5s all;  
}
#foot .foot-items .links ul a:hover{
    color: #28a9e2;
    transition: .5s all;
    font-weight: 600;
}
#foot .foot-items .foot-sections {
    padding: 5px 10px;
    height: 100%;
    flex: 1;
}
#foot .foot-items .contacts .contacts-input{
    background-color:  #0c111a;
    color: whitesmoke;
    border-radius: 5px;
    height: 20pt;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    border: none;
}
#foot .foot-items .contacts .contacts-message {
    background-color:  #0c111a;
    border-radius: 5px;
    height: 25vh;
    color: whitesmoke;
    font-style: italic;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
}
#foot .foot-items .contacts .btn-big{
    text-align: center;
    display: inline-flexbox;
    float: right;
    position: relative;
    padding: 5px 50px;
    font-size: 12pt;
    border-radius: 50px;
    font-weight: 300;
    padding-inline-start: 25px ;
    padding-inline-end: 25px ;
    margin: 0%;
    transition: 1s all;
    z-index: 0;
}
#foot .foot-items .contacts .btn-big{
    transition: 1s all;
}
#foot .foot-bottom p{
    align-items: center bottom;
    text-align: center;
    color: rgb(123, 123, 123);
    position: absolute;
    bottom: 10px;
    font-size: 10pt;
    font-weight: 800;
    width: 100%;
}



/* ====================== Sign In pages ====================== */




.sign-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.form-container::before{
    content: '';
    position: absolute;
    width: 2200px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-120deg, #1d1d1d, #1a1a1a);
    top: -15%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 2s  ease-in-out;
}
.signin-signup{
    position: absolute;
    top: 50%;
    left:75%;
    transform: translate(-50%,-50%);
    width: 50%;
    z-index: 5;
}
form{
    display: flex;
    padding: 0rem 2rem;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
form.signin-form{
    z-index: 5;
    opacity: 100%;
}
form.signup-form{
    z-index: 5;
    opacity: 100;
}
.title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}
.input-fields{
    max-width: 300px;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border: none;
    outline: none;
    border-radius: 75px;
    background-color: rgba(0, 0, 0, 0.049);
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10px;
}
.input-fields i{
    text-align: center;
    align-items: center;
    line-height: 40px;
    width: 40px;
    height: 20px;
    text-decoration: none;
    color: #7E27CF;
    font-size: 15px;
}
.input-fields input{
    background-color: none;
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-size: 10pt;
    font-weight: 600;
    color: rgb(92, 92, 92);
}
.input-fields input::placeholder{
    font-family: 'Poppins', sans-serif;
    color: #aaa;
    font-weight: lighter;
}
.forgot-password{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: #7E27CF;
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer;
    margin-left: 150px;
}
.forgot-password:hover{
    color: #018dc9;
}
.btn{
    padding: 5px 60px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    border: 3px solid #7E27CF ;
    outline: none;
    border-radius: 75px;
    cursor: pointer;
    color:  #7E27CF;
    font-size: 12pt;
    font-weight: 700;
    letter-spacing: 1pt;
    background : transparent;
    transition: 1.5s  ease all;
    z-index: 2;

}
.btn:hover{
    color: white;
    transition: .2s ease all;
    background-color: #7E27CF;
}
.social-text{
    padding: 2rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: #7E27CF;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size:2rem;
    margin: 5px 25px;
    background-color: transparent;
    padding: 2px 2px;
    border-radius: 50%;
    cursor: pointer;
}
.social-icon i{
    color: #464646 ;
}
.social-icon i:hover{
    color:#7E27CF ;
    transition: .2s ease all;
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(2, 2fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}
.left-panel{
    pointer-events: all;
    align-items: center;
    text-align: left;
    z-index: 5;
    padding: 2rem 15% 3rem 12%;
}
.right-panel{
    pointer-events: all;
    align-items: center;
    text-align: left;
    z-index: 5;
    padding: 2rem 15% 3rem 12%;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.4rem;
    padding: 10px 10px;
    margin-top: 70px;
    text-align: left;
    align-items: center;
}
.panel p{
    font-weight: 300;
    line-height: 1.5;
    padding: 10px 10px;
    font-size: 12pt;
    text-align: left;
    align-items: center;
}
.btn .transparent{
    margin-block-start: 50px;
    background: none;
    text-align: center;
    align-items: center;

}
.image{
    margin-top: 8%;
    margin-left: 30%;
    width: 80%;
    background: none;
}


