
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,html{
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    margin: 0px;
    padding: 0px;
    min-height: fit-content;
    overflow-x: hidden;
    background-color:  #f0f0f0;
    scroll-behavior: smooth;
    transition: 1s ease-in-out;
}


/* ====================== Header New ====================== */

#header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: #1a1a1a;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(255, 255, 255, 0.05);
}
#header .container{
    width: 100%;
    height: auto;
    display: flex;
    background-color: transparent;
}
#header .nav .brand #logo{
    display: flex;
    transition: all .7s;
    justify-content: space-between;
    flex: 3;
    z-index: 8;
cursor: pointer;
}
#header .nav .brand #logo:hover{
    transform: scale(1.05);
    transition: all .7s;
    z-index: 100;
}
#header .nav{
    display:  flex;
    align-items: center;
    justify-content: space-between;

    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 5px 4%;
}
#header .nav-items ul{
    list-style: none;
    position: absolute;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    left: 100%;
    top: 0;
    z-index: 10;
    transition: .75s ease left;

}
#header .nav-items ul.active{
    left: 25%;
    filter: blur(0px);
    opacity: 95%;
    border-radius: 5px;
}
 #header .nav-items a{ 
    font-size:  1.2rem;
    font-weight: 700;
    margin-right: 125px;
    text-align: left;
    align-items: baseline;
    text-decoration: none;
    color: #a3a3a3;;
    display: block;
    letter-spacing: 1pt;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
    padding: 20px 10px;
}
#header .nav-items  a:hover{
    color:  #ffffff;
    font-weight: bolder;
    transition: .5s all;
    border: none;
}
#header .nav-items a::after{
    content: attr(data-after);
    font-size: 1.5rem;
    padding-right: 20%;
    padding-top: 5%;
    font-weight: bold;
    text-align: left;
    position: absolute;
    opacity: 5%;
    transition: 1.3s all;
    transform: translate(-50%,-50%) scale(0) ;
    z-index: -1;
}
#header .nav-items li:hover a::after{
    transform: translate(-10%,-60%) scale(3) ;
    transition: 1s all;
    color:  #7e27cf  ;
} 
#header .hamburger{
    height: 35px;
    width: 35px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex: 1;
    border: 2px solid#7e27cf;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(.8);
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius:50% ;
    border: 2px solid white;
    animation: hamburger_pulse 1.5s ease infinite;
}
#header .hamburger .bar{
    height: 2px;
    width: 15px;
    position: relative;
    align-self: center;
    align-items: center;
    background-color:#7e27cf;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #7f28e2;
    transition: .5s ease;
    transition-property: all;

}
#header .hamburger .bar::after{
    top: 6px;
}
#header .hamburger .bar::before{
    bottom: 6px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;

}





/* ====================== Defaults ====================== */

a{
    color: white;
    list-style: none;
    font-size: auto;
    text-decoration: none;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: .05rem;
    color:#515151;
    align-items: flex-start;
    text-align: left;
}
h1{
    color: #7e27cf;
}
h2{
    color: #7e27cf;
}
h3{
    color: #7e27cf;
    font-weight: 300;
}
h4{
    color: #7e27cf;
}
.container{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.heading{
    font-size: 2.4rem;
    font-weight: 700;
    color: #7e27cf;
    margin-bottom: 20px;
    text-transform: Uppercase;
    text-align: left;
    padding: 10px 10%;
}

/* ====================== Main Page Slide ====================== */


#main{
    background-image: url("./images/2.jpg");
    background-position: top center;
    position: relative;
 
}
#main h1{

    font-weight: 200;
    font-size: 28pt;
    position: relative;
    align-items: flex-start;
    color: transparent;
    animation: text_slider 2.5s ease forwards;
    animation-delay: 1s;
    z-index: 1;
}
#main h1:nth-child(1){
    animation-delay: 1.5s;  
}
#main h1:nth-child(2){
    animation: text_slider 3s ease forwards;
    animation-delay: 2.5s;
    font-weight: 700;
    margin-bottom: 100px;
}
#main .main{
    margin: 0;
    padding: 10px 50px;
    justify-content: flex-start;
}
#main::after{
    content: '';
    position: absolute;
    align-content: fill;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color:black;
    z-index: -1;
    opacity: .67;
}
.ctn {
    display: inline-flex;
    padding-right: 20px;
    padding-left: 20px;
    border-radius:50px;
    position: relative;
    border: 2.5px solid #7e27cf;
    color: #ffffff;
    background-color: transparent;
    font-weight: 400 ;
    font-size: 14pt;
    letter-spacing: .3pt;
    color: transparent;
    animation: text_slider 3s ease forwards;
    animation-delay: 3s;
    z-index: 1;
    margin-top: 10px;
}
.ctn:hover{
    color: #ffffff;
    transition: 1s all;
    background-color: #7e27cf;

}



/* ====================== Services ====================== */

#services{
    align-items: flex-start;
    text-align: left;
}

#services .services{
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#services .services p{
    padding: 10px 10%;
    font-weight: 400;
}
#services .service-bot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-icons{
    box-shadow: -10px 10px 10px #dfdfdf ;
    border-radius: 10px;
    cursor: pointer;
    height: 350px;
    width: 500px;
    flex-basis: 8100%;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    display: flexbox;
    animation-delay: 1s all;
}

#services .service-icons img{
    width: 240px;
    height: 75%;
    align-items: center;
    padding: 10px;
    text-align: center;

}
#services .service-icons a{
    padding: 5px 10px;
}
#services .service-icons h3{
    flex-basis: 100%;
    font-weight: 600;
    padding: 5% 10%;
    text-align: center;
    align-items: flex-start;
    display: flexbox;
}
#services .service-icons p{
    font-size: 1rem;
    font-weight: medium;
    text-align: center;
}
#services .service-bot .service-icons img{
    transition-delay: .3 ease all transform;
}

#services .service-icons:hover{
    background: rgb(223, 223, 223);
    animation-delay: 1s all;
}

/* ====================== About Sections ====================== */

#about{
    text-align: center;
    align-items: flex-start;
}
#about .about{
    display: flex;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about .about p{
    padding: 10px 10%;
    font-weight: 400;
}
#about .about-bot {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
#about .about-icons{
    box-shadow: -10px 10px 10px #dfdfdf ;
    border-radius: 10px;
    cursor: pointer;
    height: 350px;
    width: 300px;
    flex-basis: 8100%;
    padding-top: 50px;
    padding-right: 10%;
    padding-left: 10%;
    display: flexbox;
    animation-delay: 1s all;
}
#about .about-icons img{
    width: 150px;
    align-items: left;
    padding: 10px 10px;
    text-align: left;

}
#about .about-icons h3{
    flex-basis: 100%;
    font-weight: 600;
    text-align: center;
}
#about .about-icons p{
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    color: gray;
}
#about .about-icons a{
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    color: gray;
}
#about .about-icons a:hover{

    color: #7e27cf;
}
#about .about-icons:hover{
    background: rgb(237, 237, 237);
    animation-delay: 1s all;
}

/* ====================== Footer ====================== */


#foot{
    background-color: #ded8e6b6;
    width: 100%;
    padding: 25px;
    position: relative;
}
#foot .foot-items{
    padding: 50px 10px;
    display: flex;
}
#foot .foot-items .links h3{
    font-weight: 600;
    text-align: left;
    position: relative;
}
#foot .foot-items .links ul a{
    text-align: left;
    color: gray;
    display: block;
    padding: 7px 5px;
    margin-bottom: 5px;
    font-size: 10pt;
    font-weight: 500;
    transition: .5s all;  
}
#foot .foot-items .links ul a:hover{
    color: #7e27cf;
    transition: .5s all;
    font-weight: 600;
}
#foot .foot-items .foot-sections {
    padding: 5px 10px;
    height: 100%;
    flex: 1;
}
#foot .foot-items form{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    outline: none;
    text-decoration: none;
    border: none;
}
#foot .foot-items .links .contacts-input{
    background-color:  #d2d2d2;
    color: rgb(77, 77, 77);
    border-radius: 5px;
    padding: 5px 20px;
    height: auto;
    width: 400px;
    margin-bottom: 5px;
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    border: none;
}
#foot .foot-items .links .contacts-message {
    background-color:  #d2d2d2;
    border-radius: 5px;
    height: 15vh;
    color: rgb(77, 77, 77);
    font-style: italic;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 20px;
    border: none;
    outline: none;
    text-decoration: none;
    border: none;
}

#foot .foot-items .links .ctn{
    text-align: right;
    color: #7e27cf;
    align-items: flex-end;
    position: relative;
    padding: 5px 50px;
    font-size: 12pt;
    border-radius: 50px;
    font-weight: 600;
    margin-left: 60%;
    transition: none;
    animation: none;
    z-index: 0;
}
#foot .foot-items .links .ctn:hover{
    color: white;
    animation-delay: 1s all;
}
.foot p{
    align-items: center bottom;
    text-align: center;
    color: gray;
    background: rgb(199, 199, 199);
    bottom: 10px;
    font-size: 10pt;
    font-weight: 400;
    width: 100%;
}




/* ====================== Sign In pages ====================== */


.sign-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top: 50%;
    left:75%;
    transform: translate(-50%,-50%);
    width: 50%;
    z-index: 5;
}
form{
    display: flex;
    padding: 0rem 2rem;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}
form.signin-form{
    z-index: 5;
    opacity: 100%;
}
form.signup-form{
    z-index: 5;
    opacity: 100;
}
.title{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}
.input-fields{
    max-width: 300px;
    width: 100%;
    height: 40px;
    margin: 10px auto;
    border: none;
    outline: none;
    border-radius: 75px;
    background-color: rgba(171, 171, 171, 0.146);
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0 10px;
}
.input-fields i{
    text-align: center;
    align-items: center;
    line-height: 40px;
    width: 40px;
    height: 20px;
    text-decoration: none;
    color: #7e27cf;
    font-size: 15px;
}
.input-fields input{
    background-color: none;
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-size: 10pt;
    font-weight: 600;
    color: rgb(92, 92, 92);
}
.input-fields input::placeholder{
    font-family: 'Poppins', sans-serif;
    color: #aaa;
    font-weight: lighter;
}
.forgot-password{
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    color: gray;
    text-decoration: underline;
    font-size: 10pt;
    cursor: pointer;
    margin-left: 150px;
}
.forgot-password:hover{
    color: #7e27cf;
}
.btn{

    padding: 5px 60px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    border: 2.5px solid #7e27cf;
    outline: none;
    border-radius: 75px;
    cursor: pointer;
    color:  #7e27cf ;
    font-size: 12pt;
    font-weight: 700;
    letter-spacing: 1pt;
    background : transparent;
    transition: 1.5s  ease all;
    z-index: 2;

}
.btn:hover{
    color: white;
    transition: .2s ease all;
    background-color: #7e27cf;
}
.social-text{
    padding: 2rem 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    font-weight: 500;
    color: #7e27cf ;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-icon{
    color:rgb(167, 167, 167);
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size:2rem;
    margin: 5px 25px;
    background-color: transparent;
    padding: 2px 2px;
    border-radius: 50%;
    cursor: pointer;
}
.social-icon i{
    color: grey ;
}
.social-icon i:hover{
    color:#7e27cf ;
    transition: .2s ease all;
}
.panels-container{
    position: absolute;
    width: 100%;
    height: 70vh;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(2, 2fr);
}
.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;
}
.left-panel{
    pointer-events: all;
    align-items: center;
    text-align: left;
    z-index: 5;

}
.right-panel{
    pointer-events: all;
    align-items: center;
    text-align: left;
    z-index: 5;
    padding: 2rem 15% 3rem 12%;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.4rem;
    padding: 10px 10px;
    margin-top: 70px;
    text-align: left;
    align-items: center;
}
.panel p{
    font-weight: 300;
    line-height: 1.5;
    padding: 10px 10px;
    font-size: 12pt;
    text-align: left;
    align-items: center;
}
.btn .transparent{
    margin-block-start: 50px;
    background: none;
    text-align: center;
    align-items: center;

}
.image{
    margin-top: 80px;
    margin-left: 30px;
    width: 340px;
    background: transparent;
}






/* ====================== Contact US ====================== */



.contact-us{
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}
.contact-us-form{
    width: 50%;
    height: 550px;
    display: block;
    align-items: flex-start;
    box-shadow: -10px 10px 10px #dfdfdf ;
    border-radius: 10px;
    margin-top: 50px;

}
.contact-us-form h2{
    text-align: left;
    margin: 40px;
    margin-top: 30px;
}
.contact-us .form{
    text-align: left;
    align-items: center;
    top: 0;
    left: 0;
}

.contact-us .input-fields{
    max-width: 300px;
    min-width: 250px;
    width: 100%;

    height: 40px;
    margin: 10px 10px;
    border: none;
    outline: none;
    left: 0;
    top: 0;
    border-radius: 75px;
    background-color: rgba(190, 61, 255, 0.105);
    display: flex;
}

.contact-us .input-fields i{
    color: #7e27cf;
}
.contact-us .input-fields input{
    font-family: 'Poppins', sans-serif;
    background-color: none;
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-size: 10pt;
    font-weight: 600;
    color: gray;
}
.contact-message .message{
    max-width: 300px;
    min-width: 300px;
    min-height: 100px;
    max-height: 200px;
    color: gray;
    align-items: flex-start; 
    text-align: left;
    width: 100%;
    height: 300px;
    padding: 10px 10px;
    margin: 10px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(190, 61, 255, 0.105);
}

.contact-us .ctn{
    color: #7e27cf;
    padding: 0px 40px;
    font-weight: 600;
    animation: none;
    transition: none;
}

.contact-us .ctn:hover{
    color: white;

}
/* ====================== Key frames for transitions ====================== */
@keyframes hamburger_pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.4);
    }

}
@keyframes text_slides{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }    

}
@keyframes text_slider{
    100%{
        color: white;
    }    
}
@keyframes text_slider_pro{
    100%{
        color: #7e27cf;
    }    
}

/* ====================== FOR TAB UI RESPONSIVENESS ====================== */

@media only screen and (min-width: 680px){
    #services .service-bot .service-icons{
        flex-basis: 30%;
        margin: 50px;
        padding: 5px 10px;
    }
    #about .creators{
        flex-direction: row;
        flex-basis: 50%;
        display: flex;
        width: 40px;
        height: auto;
        margin: 50px;
        padding: 10px 100px;
    }

    .creators .about-bot{
        padding: 10px 50px;
    }

}

@media only screen and (max-width: 780px){
    .sign-container{
        min-height: 800px;
        height: 100vh;
    }
    #about .about-bot .about-icons{
        display: block;
        flex-direction: column;
        margin: 10px;
        padding: 2px 10px;
    }
    .form-container:before {
        display: none;
    }
    .panels-container{
        display: none;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 40%;
    }
    .signin-form{
        height: 100%;
        width: 100%;
    }
    .contact-us-form{
        width: 75%;
    }

    .contact-us-form h2{
        text-align: left;
        margin: 20px;
        margin-top: 30px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1100px){
    #header .hamburger{
        display: none;
    }
    #header .nav-items ul{
        position: initial;
        display: flex;
        flex: 1;
        height: auto;
        width: fit-content;
        flex-direction: row;
        justify-content: space-between;
        background-color: transparent;
        margin: 0;
    }
    #header .nav-items ul li{
        display: inline-block;
    }
    #header .nav-items ul a{
        margin: 0px;
        text-align: center;
        font-size: 12pt;
        padding: 0px 40px;
    } 
    #header .nav-items ul a::after{
        display: none;
    }

}